<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ExpectedExeMd5" value="nJ0UsxK0eLGWh1DG9kZHtBJywtZUZ8kou/KQtO+EQYzNAtctqzS4zWYCH2WwoPJF" />
  </appSettings>
</configuration>
