<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ExpectedExeMd5" value="y24CuG4LOmCBnUCNjEcrFdpT3jCv/CQM9Q5ukI6B0MYtqFJatSv2ugPC6q3gIuCc" />
  </appSettings>
</configuration>
