<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ExpectedExeMd5" value="SMaHPIvkykEFpB2f3eVBVZGcIaI58jo4UEL4Wxt5tokZAQwF8Yp1AIURfZApr2O3" />
  </appSettings>
</configuration>
